<div id="header-holder"></div>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const header = document.getElementById("#site-header");
    const headerHolder = document.getElementById("#header-holder");
    console.log(headerHolder);
    if (header && headerHolder) {
      headerHolder.style.height = header.offsetHeight + "px";
      console.log(header.offsetHeight);
    }
  });
</script>
